body {
  background-color: #548687;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 30%;
  font-size: 8vmin;
  color: #b0413e;
}

#reset-btn {
  padding: auto;
  font-size: 1.25rem;
  background-color: rgb(28, 27, 27);
  color: white;
  border-radius: 20%;
}

#new-btn {
  padding: auto;
  font-size: 1.25rem;
  background-color: rgb(117, 114, 114);
  color: white;
  border-radius: 20%;
}

.winnerContainer {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  font-size: 15vmin;
}

.hide {
  display: none;
}
